:root {
    --main-sidebar: #0369a1;
    --lighter-bg: #e0f2fe;
    --main-complementary: #A13B03;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: minmax(115px, 1fr) 4fr;
    grid-template-rows: minmax(125px, .75fr) 3fr;
}

.sidebar {
    background-color: var(--main-sidebar);
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    font-size: 1.25em;
    padding: 1em;
}

.sidebar ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
}

.nav-links li,
.settings-links li {
    display: flex;
    gap: 0.6em;
    padding: 0.33em 0.2em 0.33em 0.2em;
}

.nav-links li:hover,
.settings-links li:hover {
    text-shadow: 2px 2px 5px black;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1.25fr;
    font-size: 1.2rem;
}

.header-profile1 img {
    height: 2.33rem;
    width: auto;
    border-radius: 100%;
}

.header-row1 {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em 1em 2em;
}

.header-row2 {
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em 1em 2em;
}

.welcome-message-container {
    display: flex;
    gap: 0.75em;
    align-items: center;
}

.welcome-message {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.greeting {
    font-size: 1rem;
}

.greeting-username {
    font-size: 1.2em;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 1.5 rem;
    width: 65%;
}

.profile {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    align-items: center;
}

.search-bar input {
    border: none;
    background-color: var(--lighter-bg);
    border-radius: 15px;
    width: 30em;
    padding: 0.5em;
}

.logo {
    font-size: 1.5em;
    display: flex;
    align-items: center;
}


.header-profile2 img {
    height: 3.33rem;
    width: auto;
    border-radius: 100%;
    justify-self: center;
}

.action-buttons {
    display: flex;
    gap: 1.5em;
}

.action-buttons button {
    padding: .5em;
    width: 6em;
    border: none;
    color: white;
    background-color: var(--main-sidebar);
    border-radius: 15px;

}

.action-buttons button:hover {
    box-shadow: 2px 2px 5px black;
}

.main {
    background-color: var(--lighter-bg);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 2.85fr 1.15fr;
    grid-template-rows: 1fr 1fr;
    padding: .75em;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 1em 0.6em;
}

.projects-title,
.to-do-title,
.resources-title {
    font-weight: bold;
    font-size: 1.2em;
}

.card-container,
.to-do-card,
.resources-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.25em;
    margin-top: 1em;
}

.card-container {
    min-height: 12em;
    background-color: white;
    padding: 0.85em;
    border-radius: 0.5em;
    border-left: 0.5em solid var(--main-complementary);
    display: flex;
    gap: .5em;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.25em;
}

.card-title {
    font-size: 1.15em;
    font-weight: bold;
}

.card-description {
    font-size: 0.9em;
}

.card-links ul {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}

.card-links a {
    text-decoration: none;
    color: black;
}

.to-do {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 1em 0.6em;
}

.to-do-card {
    background-color: white;
    padding: 0.85em;
    border-radius: 0.5em;
    margin: 0.25em;
    margin-top: 1.25em;
}

.to-do-card ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: stretch;
}

.to-do-card li {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.resources {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 1em 0.6em;
}

.resources-card {
    background-color: white;
    padding: 0.85em;
    border-radius: 0.5em;
    margin: 0.25em;
    margin-top: 1.25em;
}

.resources-card img {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    vertical-align: middle;
}

.resources-card ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75em;
}

.resources-card span {
    padding-left: 0.5em;
}

.resources a {
    text-decoration: none;
    color: black;
}